! terminal colors ----------------------------------

! tangoesque scheme
URxvt*background: #111111
URxvt*foreground: #dcdccc
! Black + DarkGrey
URxvt*color0: #000000
URxvt*color8: #555753
! DarkRed + Red
URxvt*color1: #ff6565
URxvt*color9: #ff8d8d
! DarkGreen + Green
URxvt*color2: #93d44f
URxvt*color10: #c8e7a8
! LightGrey + White
URxvt*color7: #cccccc
URxvt*color15: #ffffff
! underlines
URxvt*colorUL: #5B70D2
URxvt*underlineColor: #5B70D2

! fonts.conf recommendations
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.autohint: false

! Disable ctrl+shift keycap
URxvt*iso14755: false
URxvt*iso14755_52: false
URxvt.scrollBar: false
URxvt.letterSpace: -1
URxvt.font: xft:DejaVu Sans Mono:size=11
URxvt*loginShell: true

! Disable Perl extensions for security and speed
URxvt.perl-ext:
URxvt.perl-ext-common:

! Add extra escape combinations for vim
URxvt.keysym.C-space: \033
URxvt.keysym.C-Return: \033
